.contacts-page{
  margin-top: 90px;
  &__social{
    margin-left: 0;
  }
  &__cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  &__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    h5, p{
      text-align: center;
    }
    h5, &-text{
      margin-top: 35px;
    }
    h5{
      @include exo2-bold(19px);
      color: $mainColor;
    }
    &-text{
      p{
        font-size: 17px;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__map{
    width: 100%;
    height: 415px;
    margin-top: 60px;
  }
  @include mq(650px, max){
    &__cards{
      flex-direction: column;
      align-items: center;
    }
    &__card{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}