.up-arrow{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $white;
  border: solid 1px $firstColor;
  color: $firstColor;
  font-size: 32px;
  cursor: pointer;
  transition: opacity .3s;
  i{
    position: relative;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-bottom: 5px;
  }
}