$mainColor: #3a4b5a;
$mainColorLight: #8694a0;
$firstColor: #76a9b4;
$firstColorDark: #0f99b8;
$buttonColor: #0f99b8;
$secondColorLight: #ffd321;
$secondColor: #fec129;
$secondColorDark: #feb509;
$white: #ffffff;
$lightGray: #fafafa;
$grey: #343434;
$mediumGrey: #939393;
$dark: #2e2e2e;